<h2>Celebrities</h2>
<ul>
{{#each celebrities}}
  <li><a href="celebrities/{{_id}}">{{name}}</a> - <form action="/celebrities" method="POST" class="delete"><input type="hidden" name="id" value="{{_id}}"><button>Delete</button></form></a></li>
{{/each}}
</ul>
<a href="celebrities/new">Create a new celebrity</a>