<h2>Add a movie</h2>
<form action="/movies/new" method="POST">
  <label> Title: 
    <input type="text" name="title" >
  </label>
  <label> Genre :
    <input type="text" name="genre" >
  </label>
  <label>Plot : 
    <input type="text" name="plot" >
  </label>
  <label>Cast : 
    <input type="text" name="cast" >
  </label>
  <button>Create</button>
</form>